.btn {
  background-color: #d9d9d9;
  display: flex;
  align-content: space-around;
  border-radius: 12px;
  align-items: center;
  height: 24px;
  padding: 4px;
  width: max-content;
  border: none;
  cursor: pointer;
}

img {
  width: 16px;
  height: 16px;
}

p {
  font-size: 12px;
  font-weight: 500;
  margin: 4px;
}
