.container {
  display: flex;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d9d9d9;
  width: 81px;
  height: 40px;
  border-radius: 8px;
}

.btn2 {
  width: 40px;
  border: none;
  cursor: pointer;
}

img {
  height: 32px;
}
